---

title: Why am I too lazy to do anything today?
date: 2019-09-01 12:10 +08
tags: swoosh, heheheh

---

## Hey

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, possimus ea. Tempore non, porro sed nulla odio ipsum cumque voluptate alias fugiat id consectetur autem vero minus tenetur, veniam et.

[Visit My GitHub](https://github.com/ukazap)

<a href="https://github.com/ukazap" class="button">Visit My GitHub</a>

> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit perferendis quos reprehenderit odit harum nobis minus, ratione impedit beatae dolor, dolores maxime voluptate, incidunt explicabo rem vitae. Amet eum, eos.

hehehe `inline code`

~~~ ruby
class Hehe
  def whoa
    puts 'whoa there'
  end

  def neq(qqq)
    self != qqq
  end
end
~~~

## Handsome

<%= partial(:media, :locals => {
  :src => 'https://66.media.tumblr.com/e63747778fb01627f98e756e5fd29eb8/tumblr_psnx266GFN1vt10pl_1280.jpg',
  :caption => 'Oom Keanu',
}) %>